*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

/* ----------- PAGINA WEB ------------- */
.wrap{
    height: 100vh;
    width: 100%;
    background-color: #3498db;
}

.content-top{
    height: calc(100% - 60px);
    display: flex;
}

/* ----------- MENU LATERALE -------------- */
.menu-laterale{
    /* background-color: #e74c3c; */
    background-color: #2c3e50;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-laterale-top{
    /* background-color: #2ecc71; */
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.logo{
    color: white;
    font-size: 30px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* --------------------------------------------- */
.icon-section{
    padding-top: 10px;
    padding-bottom: 10px;
}

.icon{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
}

.icon a{
    color: white;
    opacity: 0.7;
    font-size: 20px;
}

.icon a:hover{
    opacity: 1;
}
/* ----------------------------------------- */
.menu-laterale-top .icon-section .icon.select::before{
    content: "";
    height: 100%;
    width: 3px;
    background-color: green;
    position: absolute;
    left: 0;
}

.menu-laterale-top .icon-section .icon.select a{
    opacity: 1;
}

.menu-laterale-bottom{
    /* background-color: #8e44ad; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.menu-laterale-bottom .icon.guest {
    align-items: center;
}

.menu-laterale-bottom .icon.guest a{
    border-top: 1px solid white;
    font-size: 30px;
    padding-top: 5px;
}

/* ----------- MAIN -------------------------- */
.main{
    background-color: #2c3e50;
    flex-grow: 1;
}

nav{
    background-color: #1abc9c;
    height: 35px;
}

.container-main{
    background-color: #bdc3c7;
    height: calc(100% - 35px);
    margin: 0 auto;
    max-width: 800px;
    overflow-y: auto;
}

section{
    background-color: #2ecc71;
    margin-bottom: 20px;
}

section h2{
    background-color: #9b59b6;
}

section .list-playlist{
    background-color: #e67e22;
    display: flex;
    flex-wrap: wrap;
}

.playlist{
    height: 200px;
    flex-basis: 150px;
    background-color: #2980b9;
    margin: 5px;
}
/* ------------- FOOTER ------------------------ */
footer{
    height: 60px;
    background-color: #1abc9c;
}
