*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.main{
    height: calc(100vh - 50px);
    background-color: #111;
    display: flex;
}

/* ---------------- MENU LATERALE */
.menu-laterale{
    background-color: #222;
    width: 80px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.logo{
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 35px;
    color: white;
    text-align: center;
}

.contain-icon{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    color: white;
    opacity: 0.7;
    text-align: center;
    position: relative;
}

.aside-top .contain-icon::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 5px;
    background-color: green;
    display: none;
}

.contain-icon.select::after{
    display: block;
}

.contain-icon:hover{
    opacity: 1;
}

.contain-icon.border{
    border-top: 1px solid white;
    font-size: 35px;
    max-width: 50%;
    margin: auto;
}

.aside-bottom{

}

/* ------------------------ INIZIO MAIN -------------------- */

.container-playlist{
    background: rgb(179,127,6);
    background: -moz-linear-gradient(90deg, rgba(179,127,6,1) 0%, rgba(75,45,3,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(179,127,6,1) 0%, rgba(75,45,3,1) 100%);
    background: linear-gradient(90deg, rgba(179,127,6,1) 0%, rgba(75,45,3,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b37f06",endColorstr="#4b2d03",GradientType=1);

    flex-basis: calc(100% - 80px);
    padding: 20px;
    overflow-y: auto;
}

nav{
    height: 50px;
    color: white;
    display: flex;
    align-items: center;
}

section{
    border: 3px solid red;
    color: white;
}

section h2{
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}

section .list-playlist{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

section .list-playlist .playlist{
    padding: 10px 5px;
    text-align: center;
    border: 1px solid purple;
    flex: 0 50%;
    max-width: 200px;


}

section .list-playlist .img-container{
    max-width: 200px;
    display: inline-block;
}

section .list-playlist .img-container img{
    width: 100%;
    border-radius: 50%;

}

section .list-playlist h5{
    font-size:20px;
}





/* ------------------- INIZIO FOOTER ------------------ */

footer{
    height: 50px;
    width: 100%;
    background-color: #3b3b3b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.footer-left{
    display: flex;
    align-items: center;
}

.padding-left-20{
    padding-left: 10px;
}

.footer-center{
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}

.icon{
    color: white;
    opacity: 0.7;
    width: calc(90% / 4);
    display: inline-block;
    text-align: center;
}

.slidecontainer,
.button-video{
    width: 100%;
}

.slidecontainer span{
    width: 60px;
    text-align: center;
    padding-right: 30px;
    color: #fff;
}

.slidecontainer input{
    margin: 0 auto;
    width: calc(100% - 70px);
}

.footer-right{
    display: none;
}

footer img{
    max-width: 30px;
}
